<!doctype html>
<html lang="en">
    {% include head.html %}
    <body>
        <div class="container">
            {% include title.html %}
            {% include overview.html %}
            <div class="row">
                <div class="col-lg-12">
                    <a href="{{ site.baseurl }}/license/">Credit and license</a>
                    {{ page.content | markdownify }}
                </div>
            </div>
            {% include keypoints.html %}
        </div>
        {% include js.html %}
    </body>
</html>
